{% extends "base.html" %}
{% load i18n %}

{% block extra_head_css %}
<link href="{{STATIC_URL}}css/bg.css" rel="stylesheet">
{% endblock %}

{% block base_content %}
<div id="login" class="center">
  <div class="logo"><!--<img src="{{ STATIC_URL }}img/logo.png"/> -->MathHarbor Platform - Register</div>
  <form id="register" class="form-login" method="POST">
    {% csrf_token %}
    <div class="control-group">
      <input type="text" name="first_name" class="form-control required" autofocus="true" placeholder="{% trans 'first name' %}" />
    </div>
    <div class="control-group">
      <input type="text" name="last_name" class="form-control required" placeholder="{% trans 'last name' %}" />
    </div>
    <div class="control-group">
      <input type="text" name="email" class="form-control required" autofocus="true" placeholder="{% trans 'email' %}"/>
    </div>
    <div class="control-group">
      <input type="text" name="username" class="form-control required" autofocus="true" placeholder="{% trans 'username' %}" />
    </div>
    <div class="control-group">
      <input id="password1" type="password" name="password1" class="form-control required" placeholder="{% trans 'password' %}" />
    </div>
    <div class="control-group">
      <input id="password2" type="password" name="password2" class="form-control required" placeholder="{% trans 'confirm password' %}" />
    </div>
    <div class="controls">
      <a id="btn-submit" href="#" class="btn btn-large btn-primary">{% trans 'Register' %}</a>
    </div>
  </form>
  {% comment %}
  <div class="social-auth">
    <a href="{% url "socialauth_begin" 'github' %}" class="entypo-social" rel="tooltip" title="{{_('Login with Github')}}">&#62209;</a>
    <a href="{% url "socialauth_begin" 'google-oauth2' %}" class="entypo-social" rel="tooltip" title="{{_('Login with Google')}}">&#62224;</a>
    <a href="{% url "socialauth_begin" 'twitter' %}" class="entypo-social" rel="tooltip" title="{{_('Login with Twitter')}}">&#62218;</a>
  </div>
  {% endcomment %}
</div>
<script type="text/javascript">
  $("input#password").keypress(function(e){
    if (e.keyCode == 13) {
      $("form#register").submit();
    }
  });
  $("a#btn-submit").click(function(){
    $("form#register").submit();
  });
  $(function(){
    $("a.entypo-social").tooltip({placement: 'bottom'});
    $("form#register").validate();
  });
</script>
{% endblock %}
