<!doctype html>
<!--
  tty.js
  Copyright (c) 2012-2013, Christopher Jeffrey (MIT License)
-->
<html>
<head><title>Console: {{container_name}}</title></head>
{% block extra_head_css %}
{% endblock %}
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/responsiveiframe.js"></script>
<body>
<script type="text/javascript"> 
window.location("http://platform.mathharbor.com:{{ gtport }}");
</script>
  </body>
</html>
